* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    scroll-behavior: smooth;
    user-select: none;
    color: white;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.aladin-regular {
    font-family: "Aladin", system-ui;
    font-weight: 200;
    font-style: normal;
}

.header {
    width: 100%;
    height: 86px;
    transition: all 0.3s linear;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header.active {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.header a {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    transition: padding 0.3s linear;
}

#brand {
    width: 60px;
    height: 50px;
    margin-top: 1rem;
    animation: lazy 4s forwards;
}

.nav-links {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin-top: 1rem;
    font-size: 2rem;

    li {
        list-style-type: none;
        cursor: pointer;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-top: 1.75rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    z-index: 1000;
}

.brand {
    margin-top: 0.5rem;
}

section {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    animation: fadeUp 1s;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }

    100% {
        opacity: 100;
        transform: translateY(0px);
    }
}

section:nth-of-type(1) {
    padding-top: 190px;
}

.description {
    position: relative;
    width: 100%;
    margin: 2rem 0;
    padding: 0 1rem 2rem 1rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.description.darken {
    background-color: black;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.description.down {
    animation: down 0.3s forwards;
}

.description.up {
    animation: up 0.3s forwards;
}

.text {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.text.lighten {
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

h2,
h3 {
    font-size: 2rem;
}

h2 {
    margin: 0 0 2rem 0;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3:nth-of-type(2) {
    margin-top: 1rem;
    animation: change 3s infinite;
}

.btns {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

h4 {
    margin-top: 2rem;
}

button {
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    background-image: linear-gradient(to right, #00d2ff, #3a7bd5);
    border: none;
    cursor: pointer;
    color: rgb(243, 243, 243);
}


button:nth-child(1) {
    animation: expand 4s infinite;
    width: 100%;
}

button:nth-child(2) {
    animation: expand 4s 0.5s infinite;
    width: 100%;
}

button:nth-child(3) {
    animation: expand 4s 1s infinite;
    width: 100%;
}

@keyframes expand {
    0% {
        width: 90%;
        border-radius: 5px;
    }

    50% {
        width: 60%;
        border-radius: 20px;
    }

    100% {
        width: 90%;
        border-radius: 5px;

    }
}

@keyframes change {

    0% {
        color: red;
    }

    50% {
        color: rgb(0, 255, 234);
    }

    100% {
        color: rgb(255, 0, 242);
    }

    50% {
        color: rgb(0, 255, 234);
    }

    0% {
        color: red;
    }
}

#upward {
    position: fixed;
    bottom: 20px;
    right: -100px;
    border-radius: 30%;
    padding: 0.8rem;
    background: white;
    color: black;
    transition: right 0.5s ease-out;
}

#upward.visible {
    right: 10px;
    transition: right 0.5s ease-in;
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

@media(max-width:768px) {
    .header.expand {
        height: 170px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: all 0.5s ease;
    }

    .header.active.expand {
        height: 170px;
        transition: all 0.5s ease;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active {
        z-index: 1000;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: white;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: white;
    }

    .nav-links {
        display: none;
    }

    .header.expand .nav-links {
        margin: 0 auto;
        display: block;
        flex-direction: column;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        transition: top 0.3s ease;
        width: 90%;

        li {
            padding-bottom: 1rem;
            font-size: 2rem;
            a{
                border-bottom: 1px solid white;
            }
        }
    }

    .header.expand .nav-links li:nth-of-type(1) {
        animation: slideTop 0.7s cubic-bezier(.51, .1, 0, 1) forwards;
    }

    .header.expand .nav-links li:nth-of-type(2) {
        animation: slideTop 0.7s cubic-bezier(.51, .1, 0, 1) forwards;
    }

    @keyframes slideTop {
        0% {
            opacity: 0;
            transform: translateY(-30px);
        }

        100% {
            opacity: 100;
            transform: translateY(0);
        }
    }
}

.video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

}

.video::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
}

.video video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}